@import './utils/variables';
@import './utils/base';
@import './utils/hidden';






.text-accent:hover,
.text-accent:focus {
    color: var(--color-accent);
}

.logo-accent {
    color: var(--color-accent);
}

.title {
    color: var(--color-secondary);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.logo {
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
}

.container {
    /* background-color: tomato; */
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px 94px 15px;
}




/* HEADER */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 80px;
    
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    
}

.header-nav-item:not(:last-child) {
    padding-right: 50px;
}
.header-nav-list {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.header-contact-list {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.header-nav-link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 25px;

}

.header-icon-email {
    fill: var(--color-icon);
    width: 16px;
    height: 12px;
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.header-icon-smartphone {
    fill: var(--color-icon);
    width: 10px;
    height: 16px;
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}


.header-logo {
    display: flex;
    align-items: center;

    color: var(--color-secondary);
    text-decoration: none;
    
    height: 31px;
    padding: 24px 68px 25px 15px;

    
}


.header-nav-link {
    color: var(--color-secondary);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link {
    color: var(--color-primary);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.header-contact-link:hover .header-icon-smartphone,
.header-contact-link:focus .header-icon-smartphone {
    fill: var(--color-accent);
}

.header-contact-link:hover .header-icon-email,
.header-contact-link:focus .header-icon-email {
    fill: var(--color-accent);
}



/* HERO */

.hero {
    max-width: 1600px;
    background-color: #2F303A;
    background-image: 
    linear-gradient(to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    padding: 200px;
    
}

.hero-title {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-third);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
    height: 120px;
    margin: 0px auto 30px;
}




/* MODAL */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color:rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}


.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;

    transform: translate(-50%, -50%);

    background-color:rgba(255, 255, 255, 1);
}

.modal-inner {
    padding: 40px;
}



.modal-title {
    color: var(--color-secondary);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    padding-bottom: 12px;
}

.modal-form {
    position: relative;
}

.modal-form-label {
    display: block;
    padding-bottom: 4px;
    padding-top: 10px;
}

.modal-form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 12px;
    padding-left: 34px;
}

.modal-form-input:hover,
.modal-form-input:focus {
    border: 1px solid var(--color-accent);
    outline: var(--color-accent);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
    fill: var(--color-accent);
}

.modal-form-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
}

.checkbox {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.textarea {
    height: 138px;
    padding-left: 12px;
    counter-reset: rgba(117, 117, 117, 0.5);
    resize: none;
}

.modal-checkbox-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-left: 23px;
}

.modal-checkbox-label::after {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 15px;
    background-color: var(--color-third);
    margin-right: 8px;
    border: 1px solid var(--color-secondary);
    border-radius: 2px;
    margin-left: -23px;
}

.modal-checkbox-input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.modal-checkbox-icon {
    position: absolute;
    left: 0;
    z-index: 3;
    display: flex;
    flex-shrink: 0;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    opacity: 0;
}

.modal-checkbox-input:checked:focus + .modal-checkbox-icon {
    opacity: 1;
    outline: var(--color-accent);
}

.checkbox-link {
    color: var(--color-accent);
    padding-left: 5px;
}


/* FEATURES */

.features {
padding-top: 94px;
}

.features-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.features-item + .features-item {
    margin-left: 30px;
}

.features-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-btn);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features-icon {
    width: 70px;
    height: 70px;
}

.features-subtitle {
    color: var(--color-secondary);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.features-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ABOUT */

.about-list {
    display: flex;
    justify-content: center;
}

.about-item + .about-item {
    margin-left:30px;
}

.about-item {
    position: relative;
}

.about-img {
    display: block;
    height: 100%;
    width: 100%;
}

.about-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.about-text {
    position: absolute;
    top: 27px;
    right: 107px;

    color: var(--color-third);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* TEAM */

.team {
    max-width: 1600px;
    padding-top: 94px;
    margin: 0 auto;
    background-color: var(--color-btn);
}

.team-list {
    display: flex;
    justify-content: center;
    

}

.team-item + .team-item {
    margin-left: 30px;
}

.team-item {
    background-color: var(--color-third);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img {
    margin-bottom: 30px;
}

.team-name {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.team-sotial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sosial-icon {
    fill: var(--color-icon);
    width: 20px;
    height: 20px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sotial:hover,
.team-sotial:focus {
    background-color: var(--color-accent);
}

.team-sotial:hover .team-sosial-icon,
.team-sotial:focus .team-sosial-icon {
    fill: var(--color-third);
}

.team-sotial:not(:last-child) {
    margin-right: 10px;
}

/* CLIENTS */

.clients-title {
    margin-top: 94px;
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--color-icon);

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-item-icon {
    fill: var(--color-icon);
    width: 106px;
    height: 60px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.clients-item:hover .clients-item-icon,
.clients-item:focus .clients-item-icon {
    fill: var(--color-accent);
}

.clients-item:hover,
.clients-item:focus {
    border: 1px solid var(--color-accent);
}

/* FILTRES */

.filtres-inner {
    padding-top: 94px;
    padding-bottom: 50px;
}

.filtres-list {
    display: flex;
    justify-content: center;
}

.filtres-item {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.filtres-item:hover,
.filtres-item:focus {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

}

.filtres-item:not(:last-child) {
    margin-right: 9px;
}



/* PROJECTS */

.projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -30px;
}

.projects-item {
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover,
.projects-item:focus {
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.projects-item:not(:last-child) {
    margin-right: 30px;
    
}

.projects-thumb {
    
    overflow: hidden;
}

.projects-item:hover .projects-thumb-text, 
.projects-item:focus .projects-thumb-text {
    opacity: 1;
    transform: translateY(0);
}

.projects-thumb {
    position: relative;
    
}

.projects-thumb-text {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-third);
    
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;

    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transform: translateY(100%);

}

.projects-title {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 4px;
    padding-top: 20px;
}

.projects-name {
    font-size: 16px;
    line-height:1.88;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-bottom: 20px;
}

/* FOOTER */

footer {
    background-color: var(--color-footer);
}

.footer-inner {
    display: flex;
}

.footer-contacts {
    margin-top: 60px;
    margin-right: 70px;
}

.footer-address-logo {
    color: var(--color-third);
    font-style: normal;
    margin-bottom: 20px;
}

.footer-address-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address-link {
    font-style: normal;
    color: var(--color-third);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-social {
    margin-top: 60px;
}

.footer-title {
    margin-bottom: 20px;
    color: var(--color-third);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: var(--color-third);
    width: 20px;
    height: 20px;
}

.footer-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-item:hover,
.footer-social-item:focus {
    background-color: var(--color-accent);
}