body{
    color: var(--color-primary);
    font-size: 14px;
    font-family: var(--font-family-primary);
    font-weight: 400;
}

ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

li > a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


.container {
    /* background-color: tomato; */
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px 94px 15px;
}