body{
    color: var(--color-primary);
    font-size: 14px;
    font-family: var(--font-family-primary);
    font-weight: 400;
}

ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

li > a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

a.current {
    color: var(--color-accent);
}

a.current::after  {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
}
