:root{
    --font-family-primary:'Roboto', sans-serif;
    --font-family-secondary:'Raleway', sans-serif;
    --color-accent:#2196f3;
    --color-primary:#757575;
    --color-secondary:#000000;
    --color-third:#ffffff;
    --color-footer:#2F303A;
    --color-btn: #f5f4fa;
    --color-icon: #afb1b8;
}
